* {
    -fx-primary-color: #008eff;
    -fx-secondary-color: #56b1ff;
    -fx-light-grey-color: #d1d1d1;
    -fx-dark-grey-color: #1e1e1e;
    -fx-focus-color: -fx-secondary-color;
}

.date-picker .cell{
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-background-color: #1e1e1e;
    -fx-font-size: 18;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 20;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}
.date-picker .cell {
    -fx-font-family: Consolas;
    -fx-background-color: #132029;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #1b3970;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-primary-color;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker .selected {
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-border-color: black;
}
.date-picker-popup .month-year-pane {
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.date-picker-popup .month-year-pane .label {
    -fx-background-color: #000000;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.text-field{
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #4d4d4d;
    -fx-background-radius: 20;
}
.text-field:hover{
    -fx-background-color: #6d6d6d;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: -fx-secondary-color;
}